html {

    height: 100%;

  }

  body {

     background: url(SeattleSkyline.jpg) no-repeat center center fixed; 

     -webkit-background-size: cover;

     -moz-background-size: cover;

     -o-background-size: cover;

     background-size: cover;

  }

  nav {
      
      background: rgb(194, 188, 188);

  }

  header {

      font-size: 40px;

      color: black;

      text-align: center;

      width: 100%;

  }

  section {

      width: 100%;

  }

  article {

      outline: 1px solid black;

      margin: auto;

      text-align: center;

      padding: 40px;

  }

  image {

      width: 150px;

  }    

  H2 {

    font-size: 25px;

  }


  footer {
    position: absolute;

    bottom: 0;

    width: 100%;

    margin: auto;

    text-align: center;

    outline: 1px solid black;

   }